.el-dialog-height-edit .el-tabs__content{
  height: 400px;
  overflow: auto
}
::-webkit-scrollbar {
	height: 14px;
	overflow: visible;
	width: 14px;
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
	background-clip: padding-box;
	border: solid transparent;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(#bfbfbf), inset 0 -1px 0 rgba(#bfbfbf);
	border-radius: 15px;
}

::-webkit-scrollbar-track-piece {
	background: transparent;
}